[user]
	name = Akhil Kedia
	email = akhil.kedia@samsung.com
[color]
	ui = auto
[credential]
	helper = store
[core]
	excludesfile = ~/.gitignore
	checkStat = minimal
	trustctime = false
[diff]
	guitool = default-difftool
	tool = default-difftool
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
[difftool]
	prompt = false
[push]
	default = current
[pull]
    rebase = false

